

body[data-theme='light'] {
  --background-color-1: var(--background-color-light-1);
  --background-color-2: var(--background-color-light-2);
  --background-color-3: var(--background-color-light-3);
  --background-color-4: var(--background-color-light-4);
  --background-color-navbar: var(--background-color-light-navbar);
}

body[data-theme='dark'] {
  --background-color-1: var(--background-color-dark-1);
  --background-color-2: var(--background-color-dark-2);
  --background-color-3: var(--background-color-dark-3);
  --background-color-4: var(--background-color-dark-4);
  --background-color-navbar: var(--background-color-dark-navbar);
}

.animated-background {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color); /* Culoare de fundal conform temei */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Asigură că fundalul acoperă întreaga fereastră */
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; /* Fundalul animat are un z-index scăzut */

}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4; 
  filter: blur(25px); 
}

