
.animated-background {
  height: 300vh;
  width: 100%;
  background-color: var(--background-color); /* Culoare de fundal conform temei */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; /* Fundalul animat are un z-index scăzut */

}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4; 
  filter: blur(25px); 
}







