/* style/ProjectsStyle.css */

.projects-section {
    position: relative;
    z-index: 1;
    padding: 50px;
    text-align: center;
    color: var(--text-Color);
  }
  .projects-section h1
  {
    margin-top: 30px;
  }
  .add-button {
    padding: 10px 25px;
    border: 2px solid var(--text-color-navbar); 
    background-color: var(--project-card-bg);
    border-color: var(--text-color-navbar); 
    color: var(--text-color-navbar);
    border-radius: 15px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: inline-flex; 
    align-items: center;
  }

  .add-button:hover {
    background-color: var(--text-color-navbar); 
    color: var(--background-color);

  }

  
  .projects-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
    padding: 20px 0; 
    gap: 20px; 
  }
  
  .project-card {
    margin-left: 10px;
    flex: 0 0 auto; 
    border: 2px solid var(--text-color-navbar); 
    border-radius: 15px;
    padding: 20px;
    width: 270px; /* Lățime fixă pentru carduri */
    background-color: var(--project-card-bg);
    position: relative; /* Necesită pentru poziționarea absolută a iconițelor */
  }

  .project-card:hover {
    box-shadow: var(--project-card-shadow);
    color: var(--text-Color);
    transition: 0.3s;
  }
  
  .project-card img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
  
  
  .button-container {
    display: flex;
    justify-content: center; /* Centrează butoanele */
    gap: 10px;
    margin-top: 10px;
  }


  
  .button-container a {
    text-decoration: none;
    border: 2px solid var(--text-color-navbar); 
    background-color: var(--project-card-bg);  
    color: var(--text-color-navbar);
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;

  }

  .button-container a:hover {
    background-color: var(--text-color-navbar); 
    color: var(--background-color);

  }
  .status-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
  }
  
  .icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
    color: var(--text-color-navbar);
  }
  
  .projects-carousel::-webkit-scrollbar-track {
    background: transparent;
  }
  