* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --background-color-1: #f5f6f7;
  --background-color-2: #ffcce6;
  --background-color-3: #fcb29e;
  --background-color-4: #eba6d3;
  --background-color: #F1E6F4;
 
  --project-card-bg:hwb(287 90% 4% / 0.4);
  --project-card-txt:rgb(81, 22, 96);
  --project-card-shadow: 0 3px 6px rgba(81, 22, 96, 0.342);

  --text-Color: #270A2E;
  --text-color-navbar: #8E549D;
  --form-text-color: #030303;
  --footer-text-color: #888;
  --background-Color-navbar:hwb(287 90% 4% / 0.9);

}

[data-theme='dark'] {
  --background-color-1: #3B0847;
  --background-color-2: #833497;
  --background-color-3: #5c1d42;
  --background-color-4: #4D145C;
  --background-color: #290133;
 
  --project-card-bg: hwb(288 0% 80% / 0.4);
  --project-card-txt:rgb(227, 207, 232);
  --project-card-shadow: 0 3px 6px rgba(227, 207, 232, 0.342);

  --text-Color: #F1E6F4;
  --text-color-navbar: #B283BE;
  --form-text-color: #ffffff46;
  --footer-text-color: #C8ACD6;
  --background-Color-navbar:hwb(288 0% 80% / 0.9);
}



body {
  margin: 0;
  padding: 0;
}



.home-wrapper {
  position: relative; 
  z-index: 1; 
}

